
<div id = "pagewrapper">
			
    <div id = "contentsection">

        <h1>{{movie.Title}} </h1><br />
        <img ng-src = "{{movie.Poster}}" /><br /><br /><br />
        <h4>"{{movie.Plot}}"</h4><br />
        <h4>Director : {{movie.Director}}</h4><br />
        <h4>Actors : {{movie.Actors}}</h4><br />
        <h4>Writer : {{movie.Writer}}</h4><br />
        <h4>Released : {{movie.Released}}</h4><br />
        <h4>Year : {{movie.Year}}</h4><br />
        <h4>Genre : {{movie.Genre}}</h4><br />
        <h4>Language : {{movie.Language}}</h4><br />
        <h4>Awards : {{movie.Awards}}</h4><br />
        <h4>imdbRating : {{movie.imdbRating}}</h4><br />
      
    </div>
</div>




